.App{
  margin: 1rem;
}
.app_nav{
  display: flex;
}
.app_title{
  font-size: 1.3rem;
}
.app_link{
  margin-left: auto;
  margin-top: 0.2rem;
}
.app_link button{
  padding: 1rem 3rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: navy;
  color: #fff;
}
.app_link p{
  background-color: navy;
  color: #ffff;
  padding: 1rem 2rem;
}
.app_content{
  margin-top: 3rem;
}
.app_content_left h3{
  line-height: 1.8;
}
.app_contract{
  margin: 2rem 0;
  
}
.app_deploy{
  display: none;
}

@media screen and (min-width:800px) {
  .app_content_left{
    width: 50%;
  }
  .app_contract{
    width: 50%;
  }
}